.print {
  background: #8cbc56c9;
}

.print-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(20px * var(--size-coeff));
  /* background: chartreuse; */
  /* padding-top: calc(50px * var(--size-coeff)); */
  margin: auto;
  /* padding-bottom: calc(50px * var(--size-coeff)); */
}

.print-content-bottom-text {
  text-indent: 2em;
  font-family: "Montserrat-Regular";
  font-size: calc(30px * var(--size-coeff));
  max-width: calc(820px * var(--size-coeff));
  /* min-height: calc(460px * var(--size-coeff)); */
  line-height: calc(45px * var(--size-coeff));

  padding-top: calc(50px * var(--size-coeff));
  padding-left: calc(50px * var(--size-coeff));
  /* text-align: justify; */
  /* background: chartreuse; */
}

.print-content-bottom-text span {
  font-family: "Montserrat-SemiBold";
}

.print-content-bottom-card {
  width: calc(570px * var(--size-coeff));
  height: calc(690px * var(--size-coeff));
  position: relative;
  transform: rotate(-5deg);
  margin-top: calc(40px * var(--size-coeff));
}

.mail {
  font-family: "Montserrat-SemiBold";
  color: rgb(23, 152, 238);
}

.format{
  font-family: "Montserrat-SemiBold";
  color: rgb(23, 152, 238);
}

.print-content-bottom-card-img {
  width: calc(570px * var(--size-coeff));
  height: calc(690px * var(--size-coeff));
}

.print-content-bottom-card-text {
  width: calc(477px * var(--size-coeff));
  height: calc(95px * var(--size-coeff));
  position: absolute;
  bottom: calc(35px * var(--size-coeff));
  left: calc(45px * var(--size-coeff));
  font-family: "MarckScript-Regular";
  font-size: calc(50px * var(--size-coeff));
}

.print-content-bottom-card-text-p {
  line-height: calc(50px * var(--size-coeff));
}

.print-text{
  font-size: calc(30px * var(--size-coeff));
  text-align: center;
  margin-top: calc(50px * var(--size-coeff));
}

@media (max-width: 768px) {
  .print-content {
    justify-content: center;
  }
}
