*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  nav,
  footer,
  header {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%; 
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .burger {
    width: 30px;
    height: 30px;
    filter: invert(1);
    display: none;
  }

  @font-face {
    font-family: "FujiyamaLight";
    src: url("source/fonts/Lobster-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "exo";
    src: url("source/fonts/static/Exo2-Bold.ttf") format("truetype");
    /* src: url("/source/fonts/Exo2-VariableFont_wght.ttf") format("truetype"); */
    
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "exoBlack";
    src: url("source/fonts/FiraSans-Light.ttf") format("truetype");
    /* src: url("/source/fonts/Exo2-VariableFont_wght.ttf") format("truetype"); */
    
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "FiraSansCondensed";
    src: url("source/fonts/FiraSansCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
  }
  img {
    vertical-align: top;
  }

  body {
    background: url(source/img/background-6650672_1280.jpg);
    background-size: cover; 
  }

  header {
      height: 100px;
      width: 100%;
      background: url('source/img/444481.png') right /135px 33px no-repeat, black;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

  }
  .menu a{
    display: block;
    color: white;
  }

  .cross-menu{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    font-family: "exo";
    font-size: 20px;
    padding-left: 60px;
    gap: 10px;
    margin-right: 150px;
    position: absolute;
  }

  .cross {
    width: 20px;
    height: 20px;
    filter: invert(1);
    display: none;
  }

  main{
      margin: auto;
      margin-top: 10px;
      max-width: 800px;
      font-family: "exoBlack";
  }

  .text-in-card{
    margin-top: 100px;
  }
  
  .about-us {
    width: 100%;
    height: 500px;
    font-size: 20px;
  }

  .blok {
    width: 100%;
    height: 500px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
    color: white;
    
  }

  h2{
    margin-bottom: 30px;
  }

  footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: "exoBlack";
  }

  footer p {
    margin: auto;
    padding-top: 50px;
    width: 100px;
  }

  @media (max-width: 10000px) {
    .menu {
      padding-top: 40px;
    }
  }

    @media (max-width: 930px) {
      .menu {
        padding-top: 20px;
      }
    }

    @media (max-width: 564px) {
      .menu {
        padding-top: 10px;
      }
    }
    
    @media (max-width: 490px) {
      .burger {
        display: block;
      }

      .cross-menu {
        overflow-y: hidden;
        transition: 0.5s;
        left: -490px;
        height: 300px;
      }

      .menu {
        flex-direction: column;
        background-color: black;
      }
    }
