*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  nav,
  footer,
  header {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%; 
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  @font-face {
    font-family: "FujiyamaLight";
    src: url("/source/fonts/Lobster-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  img {
    vertical-align: top;
  }

  body {
    background: url(/source/img/background-6650672_1280.jpg);
    background-size: cover; 
  font-family: "FujiyamaLight";

  }

  header {
      height: 100px;
      width: 100%;
      background: url('/source/img/444481.png') right /135px 33px no-repeat, black;
  }

    .contacts {
      color: white;
      font-size: 20px;
      max-width: 400px; 
      /* display: flex; */
      flex-wrap: wrap;
      padding-top: 20px;
      padding-left: 50px;

    }

    main{
      margin: auto;
      margin-top: 10px;
      /* background-color: rgb(32, 30, 27); */
      max-width: 800px;
      height: 800px; 
    }

    .cards{
      /* background-color: rgb(241, 147, 7); */
      max-width: 100%;
      min-height: 50%;
      display: flex;
      justify-content: space-between;
    flex-wrap: wrap;

    }
  
  second-two{
    display: flex;
    max-width: 660px;
  }
  
  .card{
      width: 320px;
      height: 320px;
      background: black;
      margin: auto;
  border-radius: 1%;
  color: white;
  font-size: 40px;
  text-align: center;

  }
  .text-in-card{
    margin-top: 100px;

  }