.film-development {
  background: #e4a972;
}

.mail {
  font-family: "Montserrat-SemiBold";
  color: rgb(14, 85, 117);
}

.film-development-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(20px * var(--size-coeff));
  /* background: chartreuse; */
  /* padding-top: calc(50px * var(--size-coeff)); */
  margin: auto;
  padding-bottom: calc(50px * var(--size-coeff));
}

.film-development-text-p {
  text-indent: 2em;
  font-family: "Montserrat-Regular";
  font-size: calc(30px * var(--size-coeff));
  max-width: calc(920px * var(--size-coeff));
  /* min-height: calc(400px * var(--size-coeff)); */
  line-height: calc(45px * var(--size-coeff));

  padding-bottom: calc(50px * var(--size-coeff));
  /* padding-left: calc(50px * var(--size-coeff)); */
  /* text-align: justify; */
  /* background: chartreuse; */
}

.film-development-text-p span {
  font-family: "Montserrat-SemiBold";
}

.film-development-content-bottom-card {
  width: calc(485px * var(--size-coeff));
  height: calc(585px * var(--size-coeff));
  position: relative;
  transform: rotate(-5deg);
}

.film-development-card-img {
  width: calc(485px * var(--size-coeff));
  height: calc(585px * var(--size-coeff));
}

.film-development-card-text {
  width: calc(477px * var(--size-coeff));
  height: calc(95px * var(--size-coeff));
  position: absolute;
  bottom: calc(15px * var(--size-coeff));
  left: calc(45px * var(--size-coeff));
  font-family: "MarckScript-Regular";
  font-size: calc(35px * var(--size-coeff));
}

@media (max-width: 768px) {

  .film-development-content {
    justify-content: center;
  }
}